@{
    ViewData["Title"] = "Home Page";
}

@model List<Thread>

@section Styles {
    <link rel="stylesheet" href="~/css/mainpage.css" />
}

<div class="main_content">
    <div class="main_info">
        <p></p>
    </div>

    @{
        var currentUser = Context.Session.GetString("user");
    }

    @if (!string.IsNullOrEmpty(currentUser))
    {
        <div class="create_thread_box">
            <div class="create_thread_header" onclick="toggleCreateThread()">
                + Utwórz wątek
            </div>
            <div class="create_thread_body" id="createThreadForm">
                <form method="post" action="/Thread/CreateWithPost">
                    <input type="text" name="title" placeholder="Tytuł wątku..." required />

                    <textarea name="content" placeholder="Pierwszy post..." required></textarea>

                    <button type="submit">Dodaj</button>
                </form>
            </div>
        </div>
    }
    

    <div class="main_threads">

        <div class="thread_list">
            @foreach (var thread in Model)
            {
                var lastPostDate = thread.Posts.Any() ? thread.Posts.Max(p => p.CreatedAt) : thread.CreatedAt;

                <div class="thread_item">
                    <div class="thread_row">
                        <a class="thread_title" href="/Thread?id=@thread.Id">
                            @thread.Title
                        </a>

                        <div class="thread_meta">
                            @lastPostDate.ToString("dd.MM.yyyy HH:mm")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="side_pannel">
    <div class="events_pannel">
        @* Tutaj geneorwanie aktywnych eventów np. @RenderActiveEvents *@
    </div>
    <div class="activity_pannel">
        @* Tutaj geneorwanie jakiś ostatnich aktywności na stronie albo graczy online np. @RenderLastActivity *@
    </div>
</div>

<script>
    function toggleCreateThread() {
        const el = document.getElementById("createThreadForm");
        el.style.display = el.style.display === "block" ? "none" : "block";
    }
</script>
